node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

.firebaserc
.firebase
.vscode
.idea
ui-debug.log
firestore-debug.log
firebase-debug.log




